.add-new-student {
}
.add-new-student.button-container {
  display: flex;
}
.add-new-student.container {
  display: flex;
  flex-flow: column;
}
.add-new-student.student-name-list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.add-new-student.button-container {
  display: flex;
}
.add-new-student.tool-tip {
  font-size: 0.9em;
  margin: 1%;
}
.add-new-student.tool-tip:first-of-type {
  margin-top: 1em;
}
.add-new-student.input {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.add-new-student .student-name {
  position: absolute;
  width: 100%;
}

.student-name.not-found {
  color: red;
  box-sizing: border-box;
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(136, 136, 136);
}
.inner-student-name {
  background-color: rgb(19, 199, 3);
  background-color: rgba(19, 199, 3, 0.493);
}
