.header-container {
  width: 100%;
  height: 15%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.header-top {
  width: 100%;
  padding: 0 0 0 2%;
  /* margin-right: 2%; */
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.header-top,
.header-pages {
  background: linear-gradient(141deg, #a6f3f3b2 0%, #a7e7f0a1 51%, #fff8ed 75%);
}
.header-top h2 {
  margin: 1% 0;
}
.header-top a {
  margin-right: 4%;
}
.header.header-right {
  text-align: center;
}
.header-pages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.header.header-tabs {
  /* min-width: 20%; */
  display: flex;
}
.header-pages a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 1px solid rgb(187, 187, 187);
  background-color: rgb(255, 255, 255);
  border-radius: 7px 7px 0 0;
  display: flex;
}
.header-pages .selected {
  background-color: rgb(238, 238, 238);
  border-bottom: none;
}
.header.content p {
  margin: 0;
}
.header.header-spacer-1 {
  width: 3%;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.header.header-spacer-2 {
  width: 100%;
  border-bottom: 1px solid rgb(200, 200, 200);
}
.header.header-spacer-3 {
  width: 100%;
  border-bottom: 2px solid #c2c2c2;
}
.header-bottom {
  width: 96%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header.buttons {
  /* height: 100%; */
}
.tab-button {
  height: 100%;
  border-radius: 10px 10px 0 0;
  border-color: rgb(35, 179, 204);
  background-color: rgb(20, 160, 216);
  color: white;
  cursor: pointer;
  outline: 0;
}
.header.cancel-button {
  height: 100%;
  border-radius: 10px 10px 0 0;
  border-color: rgb(196, 58, 58);
  border-bottom: 2px solid rgb(194, 194, 194);
  background-color: rgb(255, 71, 71);
  color: white;
  cursor: pointer;
  outline: 0;
}
