.new-assignment.container {
  height: 85%;
  width: 96%;
  margin: auto;
  display: flex;
  flex-flow: column;

  box-sizing: border-box;
  border: 2px solid rgb(194, 194, 194);
  border-top: none;
  border-radius: 0 0 10px 10px;
  position: relative;
  z-index: 5;
  box-shadow: 5px 8px 9px 2px #979797;
}
.new-assignment.top {
  display: flex;
  flex-flow: column;
  height: 95%;
  align-items: center;
  width: 100%;
}
.new-assignment.bottom {
  display: flex;
  justify-content: center;
  height: 5%;
}
.new-assignment.header {
  width: 100%;
  height: 7.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(194, 194, 194);
  background-color: #d2f8f8;
}
.new-assignment.header h3 {
  margin: 0;
}
.new-assignment .spacer {
  width: 15%;
}

.new-assignment.table {
  width: 100%;
  height: 100%;
  border: none;
}
.new-assignment.title {
  width: 100%;
  height: 7.5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row;
  font-size: 1.4em;
  background-color: rgb(216, 255, 200);
}
.new-assignment.input-box {
  background-color: rgb(216, 255, 200);
}
.new-assignment.input-box input {
  font-size: 1em;
}
.new-assignment.input-box.total-score input {
  width: 2em;
  text-align: center;
}

.new-assignment.student-info {
  width: 100%;
  background-color: white;
  overflow-y: auto;
}
.new-assignment th,
.new-assignment td {
  border: none !important;
}
.new-assignment thead tr {
  border-bottom: 2px solid #dee2e6;
}
.new-assignment tr {
  border-top: 1px solid #dee2e6;
  /* display: flex; */
  /* justify-content: space-around; */
}

.new-assignment td,
.new-assignment th {
  width: 20%;
  text-align: center;
}
.new-assignment thead tr,
.new-assignment tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.new-assignment.score,
.new-assignment.points_total {
  width: 50px;
  /* height: 2em; */
  text-align: center;
  font-size: 1.4em;
}
