/* Roster Student List */
.roster {
}
.roster.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.roster.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(194, 194, 194);
  background-color: #d2f8f8;
}
.roster.header h2 {
  text-align: center;
  margin: 0;
}
.roster.table {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.roster.table-head tr {
  border-bottom: 2px solid rgb(173, 173, 173);
  width: 100%;

  padding: 0.5% 0;
  display: flex;
  justify-content: space-between;
}
.roster.table-head tr th,
.roster.data-row td {
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.roster.table-body {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
}
.roster.data-row {
  width: 100%;
  background-color: rgb(250, 250, 250);
  min-height: 45px;
  padding: 10px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(200, 200, 200);
}

/* Roster Assignments */
.roster-assignment {
}
.roster-assignment.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.roster-assignment.top {
  display: flex;
  flex-flow: column;
  height: 95%;
}
.roster-assignment.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(194, 194, 194);
  background-color: #d2f8f8;
}
.roster-assignment.header h2 {
  margin: 0;
  text-align: center;
}
.roster-assignment.table {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.roster-assignment.table-head tr {
  padding: 1.9% 8% 0 8%;
  display: flex;
  /* padding: 0 8%; */
  justify-content: space-between;
  border-bottom: 2px solid rgb(173, 173, 173);
}
.roster-assignment.table-body tr {
  display: flex;
  justify-content: space-evenly;
  padding: 5px 5px;
  border-bottom: 1px solid rgb(200, 200, 200);
  background-color: rgb(250, 250, 250);
}

.roster-assignment.assignment-name {
  width: 60%;
}
.roster-assignment.points {
  /* width: 40%; */
}
.roster-assignment.score-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.roster-assignment.footer {
  height: 5%;
  display: flex;
  justify-content: center;
}

/* Roster Misc */
.red-zero {
  background-color: red;
}
.selected-student {
  background-color: rgb(218, 218, 218) !important;
}
