.teacher-portal.container {
  width: 96%;
  margin: auto;
  height: 80%;
  display: flex;
  flex-flow: row;
  box-shadow: 5px 8px 9px 2px #979797;
  border-radius: 0 0 10px 10px;
  /* overflow: hidden; */
  position: relative;
  z-index: 5;
}
.teacher-portal.left-container {
  width: 65%;
  height: 100%;
  border-top: none;
  overflow: hidden;
}

.teacher-portal.right-container {
  width: 35%;
  height: 100%;
  border-top: none;
  overflow: hidden;
}
