.opening-drop-down {
  animation-name: openDropDown;
  animation-duration: 0.5s;
}

@keyframes openDropDown {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }

  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}

.closing-drop-down {
  animation-name: closeDropDown;
  animation-duration: 1s;
}

@keyframes closeDropDown {
  0% {
    transform: scaleY(1);
    transform-origin: top;
  }

  100% {
    transform: scaleY(0);
    transform-origin: top;
  }
}
