.student-portal {
}
.student-portal.body {
  width: 96%;
  height: 83%;
  margin: auto;
  box-shadow: 5px 8px 9px 2px #979797;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.student-portal.container {
  height: 100%;
  display: flex;
  flex-flow: row;
  border-radius: 0 0 10px 10px;
}
.student-portal .spacer {
  height: 10px;
  margin: auto;
  border-left: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}
.student-portal.left {
  width: 25%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  border-top: none;
  overflow: hidden;
}
.student-portal.right {
  width: 75%;
  border: 1px solid #c2c2c2;
  border-left: none;
}

.class-info {
}
.class-info.container {
  height: 100%;
  overflow: auto;
}
.class-info.header {
  display: flex;
  justify-content: center;
}
.class-info.content {
  display: flex;
  flex-flow: column;
  padding: 0 5%;
}
.class-info p:first-of-type {
  margin-bottom: 0;
}
.class-info p:last-of-type {
  margin-top: 1%;
}

.student-assignments.container {
  width: 100%;
  height: 100%;
}
.student-assignments.content {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
}
.student-assignments.footer {
  height: 10%;
  width: 100%;
}
.student-assignments.table {
  width: 100%;
  height: 99%;
  display: flex;
  flex-flow: column;
  overflow-y: auto;
}
.student-assignments.table-header,
.student-assignments.table-body {
  width: 100%;
}
.student-assignments.table-body {
  flex-flow: column;
}
.student-assignments.table-header tr,
.student-assignments.table-body tr {
  display: flex;
  width: 100%;
}
.student-assignments.table-header tr th,
.student-assignments.table-body tr td {
  min-height: 45px;
  width: 15%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #adadad;
  border-right: none;
  border-bottom: none;
}
.student-assignments.table-header tr th:nth-child(1),
.student-assignments.table-body tr td:nth-child(1) {
  width: 25%;
}
.student-assignments.table-header tr th:nth-child(3),
.student-assignments.table-body tr td:nth-child(3) {
  width: 45%;
}

.student-assignments.table-body tr td {
  background-color: rgb(250, 250, 250);
}

.student-assignments.assignment {
  display: flex;
  justify-content: center;
}

.student-assignments .editable-container {
  align-self: center;
}
.editable-input {
  text-align: center;
}

.student-assignments.delete {
  background-color: red;
  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;

  cursor: pointer;
  align-self: flex-end;
}
.student-assignments.delete span {
  align-self: flex-end;
  color: white;
  font-size: 75%;
}

.student-assignments.spacer {
  width: 5%;
}

.student-assignments.average {
  background-color: rgb(221, 248, 255) !important;
}
