body {
  background-color: rgb(238, 238, 238) !important;
  width: 100vw;
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
}
.App {
  width: 96%;
  height: 100%;
  margin: auto;
}

.standard-button {
  border-radius: 10px;
  border-color: rgb(35, 179, 204);
  background-color: rgb(20, 160, 216);
  color: white;
  cursor: pointer;
}

/*autocomplete*/
#autoComplete {
  position: absolute;
  top: 100%;
  padding: 0;
  background-color: white;

  z-index: 10;
}
#autoCompleteLI {
  list-style: none;
  cursor: pointer;

  padding: 4px 15px 4px 15px;
  font-size: 1.2em;

  border-top: 1px;
  border-left: 1px;
  border-bottom: 0;
  border-right: 1px;
  border-style: solid;
  border-color: black;
}
#autoCompleteLI:last-child {
  border-bottom: 1px;
  border-style: solid;
  border-color: black;
}

/*sort*/
.arrowSegment {
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
/* .sortableHeader {
  cursor: pointer;
} */

.arrowUnsorted {
  border-top: 3px solid grey;

  transform: rotate(0deg);
}
.arrowUp,
.arrowDown {
  border-top: 3px;
  border-left: 3px;
  border-bottom: 0;
  border-right: 0;
  border-style: solid;

  border-color: red;
}
.arrowUp {
  transform: rotate(45deg);
}
.arrowDown {
  transform: rotate(225deg);
}
