.assignment-header {
  display: flex;
}
.assignment-list.delete {
  background-color: red;
  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-content: center;
  align-self: flex-end;

  cursor: pointer;
}
.assignment-list.delete span {
  align-self: flex-end;
  color: white;
  font-size: 75%;
}
.assignment-list.assignment {
  display: flex;
}
.teacher-assignment-list.assignment {
  display: flex;
}
.assignment-list .editable-container {
}
.assignment-list.spacer {
  width: 5%;
}
.editing-student {
  background-color: rgb(207, 207, 207);
}

.average {
  background-color: rgb(221, 248, 255);
}
