.teacher-assignment-list > .editable-container {
  width: 10%;
}
.assignment-list > .editable-container {
  width: 15%;
}
.editable-container span {
}
.editable-container input {
  position: relative;
  width: 100%;
  text-align: center;
}
