.login {
}
.login.container {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-flow: column;
}
.login.header {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid rgb(168, 194, 199);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login.header h1 {
  margin: 0;
}
.login.header i {
  font-size: 2.5em;
  border: 1px solid rgb(36, 149, 255);
  padding: 15%;
  border-radius: 10px;
  color: rgb(36, 149, 255);
}
.login.spacer {
  width: 5%;
}
.login-boxes {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
}
.teacher-login.container,
.student-login.container {
  width: 50%;
  height: 100%;
  /* display: flex; */
  /* flex-flow: column; */
  /* justify-content: center; */
  /* align-items: center; */
}
.teacher-login.container {
  border-right: 2px solid rgb(194, 194, 194);
}

.teacher-login.header,
.student-login.header {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  width: 100%;
  height: 5%;
  border-bottom: 1px solid rgb(168, 194, 199);
  background-color: rgb(255, 233, 193);
  color: rgb(0, 0, 0);
}
.teacher-login.header h3,
.student-login.header h3 {
  margin: 0;
}

.teacher-login.body,
.student-login.body {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher-login.body form,
.student-login.body form {
  width: 60%;
  height: 60%;
  border: 2px solid rgb(124, 156, 161);
  border-radius: 10px;
  box-shadow: 3px 3px rgb(92, 106, 109);

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}
.teacher-login form .header,
.student-login form .header {
  text-align: center;
  height: 25%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.teacher-login form .header *,
.student-login form .header * {
  margin: 0;
  margin-bottom: 2%;
}

.login-form-inputs {
  height: 50%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
}
.login-form-inputs label {
  font-weight: bold;
}
.login.username-form,
.login.password-form {
  width: 80%;

  display: flex;
  flex-flow: column;
  text-align: center;
}
.login-actions {
  width: 100%;
  height: 25%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
.login-actions a {
  font-size: 0.8em;
}
button.login-form {
  width: 25%;
  height: 50%;
}
.login.fail {
  height: 50%;
  color: red;
  font-size: 0.9em;
}
.login.fail p {
  margin: 0;
}
