.new-assignment.container {
  height: 85%;
  width: 100%;
  display: flex;
  flex-flow: column;

  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  border: 2px solid rgb(194, 194, 194);
}
.new-assignment.top {
  display: flex;
  flex-flow: column;
  height: 90%;
}
.new-assignment.bottom {
  width: 100%;
  display: flex;
  align-self: flex-end;
  justify-content: center;
}

.new-assignment.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(194, 194, 194);
  background-color: rgb(209, 248, 248);
}
.new-assignment.header h3 {
  margin: 1%;
}
.new-assignment .spacer {
  width: 15%;
}

.new-assignment.title {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  font-size: 1.4em;
  background-color: rgb(216, 255, 200);
}
.new-assignment.input-box {
  background-color: rgb(216, 255, 200);
}
.new-assignment.input-box input {
  font-size: 1em;
}
.new-assignment.input-box.total-score input {
  width: 2em;
}

.new-assignment.student-info {
  background-color: white;
  overflow-y: scroll;
}
.new-assignment th,
.new-assignment td {
  border: none !important;
}
.new-assignment thead tr {
  border-bottom: 2px solid #dee2e6;
}
.new-assignment tr {
  border-top: 1px solid #dee2e6;
  /* display: flex; */
  /* justify-content: space-around; */
}

.new-assignment td,
.new-assignment th {
  width: 20%;
}
.new-assignment thead tr,
.new-assignment tbody tr {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.new-assignment.score {
  width: 50px;
}
.new-assignment.points_total {
  width: 50px;
}
