.student-portal {
}
.student-portal.container {
  width: 100%;
  height: 85%;
  display: flex;
}
.student-portal.left {
  width: 25%;
  height: 90%;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 0 0 0 10px;
  box-sizing: border-box;
}
.student-portal.right {
  width: 75%;
}

.class-info {
}
.class-info.container {
  padding: 0 5%;
}
.class-info.header {
  display: flex;
  justify-content: center;
}
.class-info.content {
  display: flex;
  flex-flow: column;
}

.student-assignments.container {
  width: 100%;
  height: 100%;
}
.student-assignments.content {
  width: 100%;
  height: 90%;

  box-sizing: border-box;
  border-radius: 0 10px 10px 0;
  border: 2px solid rgb(194, 194, 194);
}
.student-assignments.footer {
  height: 10%;
  width: 100%;
}
.student-assignments.table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  overflow: auto;
}
.student-assignments.table-header,
.student-assignments.table-body {
  width: 100%;
  display: flex;
}
.student-assignments.table-body {
  flex-flow: column;
}
.student-assignments.table-header tr,
.student-assignments.table-body tr {
  display: flex;
  width: 100%;
}
.student-assignments.table-header tr th,
.student-assignments.table-body tr td {
  /* padding: 0 2.5%; */
  width: 25%;
  text-align: center;
}

.student-assignments.table-header tr th {
  /* padding-top: 5px; */
}
.student-assignments.table-header tr th {
  border-bottom: 2px solid rgb(173, 173, 173);
}
.student-assignments.table-header tr th {
  border-left: 1px solid rgb(173, 173, 173);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
}
.student-assignments.table-header tr th:first-child {
  border-left: none;
}
.student-assignments.table-header tr th:first-child {
  /* border-right: 1px solid rgb(173, 173, 173); */
}

.student-assignments.table-body tr td {
  border-bottom: 1px solid rgb(200, 200, 200);
  background-color: rgb(250, 250, 250);
  padding: 1% 1px;
}
.student-assignments.table-body tr td {
  border-left: 1px solid rgb(173, 173, 173);
}
.student-assignments.table-body tr td:first-child {
  border-left: none;
}
.student-assignments.table-body tr td:last-child {
  /* border-right: 1px solid rgb(173, 173, 173); */
}

.student-assignments.assignment {
  display: flex;
  justify-content: center;
}

.student-assignments .editable-container {
  align-self: center;
}
.editable-input {
  text-align: center;
}

.student-assignments.delete {
  background-color: red;
  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;

  cursor: pointer;
  align-self: flex-end;
}
.student-assignments.delete span {
  align-self: flex-end;
  color: white;
  font-size: 75%;
}

.student-assignments.spacer {
  width: 5%;
}

.student-assignments.average {
  background-color: rgb(221, 248, 255) !important;
}
